/* Doomsday Clock Component-Specific Styles - Mobile-first */

/* Center the clock container */
.clock-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100vh;
  box-sizing: border-box;
  position: relative;
}

/* Styling for the clock-face in the doomsday clock */
.doomsday-clock-text {
  font-size: 5rem;  /* Mobile-first: default size */
  color: white;
  position: absolute;
  top: 50%;  /* Centered */
  left: 50%;
  transform: translate(-50%, -50%);
  animation: fadeIn 2s;
}

/* Responsive clock size for tablets */
@media (min-width: 600px) {
  .doomsday-clock-text {
    font-size: 8rem;
  }
}

/* Footer Navigation */
.footer-nav {
  display: flex;
  justify-content: space-around;  /* Distribute space equally between icons */
  align-items: center;
  width: 100%;  /* Make sure it spans the entire width */
  position: fixed;
  bottom: 30px;
  padding: 0 20px;  /* Add some padding for visual spacing */
  box-sizing: border-box;
  transform : translateX(-3%); /* Necessary to fix the positioning of the icons */
}

/* Responsive clock size for tablets */
@media (min-width: 600px) {
  .footer-nav {
    padding-bottom: 20px;
  }
}

/* Style the icons in the footer */
.footer-icon {
  width: 65px;
  height: auto;
  padding: 10px; /* Adds uniform padding around all icons */
  margin: 0 10px; /* Adds margin between icons */
  animation: fadeIn 2s;
}

/* Adjust footer icon size for tablets */
@media (min-width: 600px) {
  .footer-icon {
    width: 100px;
  }
}
