<div class="about-container">
  <h1 class="about-title">About</h1>
  <!-- App Logo -->
  <img src="/images/icons/app-icon.png" alt="Doomwatch Logo" class="logo">
  <!-- Close button -->
  <img src="/images/icons/noun-cross.png" alt="Close" class="close-icon" (touchend)="closeAbout()"  (click)="closeAbout()">
  <p class="about-purpose">
    doomwatch is an app designed to raise awareness about the current state of the
    world, global politics, nuclear threats, and climate change. Our goal is to keep you informed about the Doomsday
    Clock and its implications.
  </p>

  <p class="about-author">
    Developed by Louis Patigny.
  </p>

  <p class="about-resources">
    This app is based on data from <a href="https://thebulletin.org/doomsday-clock/" target="_blank">The Bulletin of the Atomic Scientists</a>.
  </p>

  <p class="about-github">
    Visit my&nbsp; <a href="https://github.com/LouisPatigny" target="_blank">GitHub Profile</a> for more projects.
  </p>
</div>
