/* Root container for the entire screen */
.history-timeline-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 100px;
  height: 100vh;
  background-color: black;
  color: white;
  font-family: 'Bahnschrift', sans-serif;
  position: relative;
  overflow: hidden;
}

/* Logo with growing animation */
.logo {
  position: absolute;
  top: 78%;
  left: 50%;
  width: 100px;
  height: auto;
  animation: breath 5s linear infinite, fadeIn 600ms;
}

.page-title {
  position: absolute;
  font-size: 1.4rem;
  width: 100%;
  top: -10px;
  left: 43%;
  transform: translateX(-50%);
  z-index: 10;
  line-height: 50px;
  font-family: 'Bahnschrift', sans-serif;
}

/* Container for year and navigation */
.year-navigation-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  margin-top: 50px;
}

/* Year display */
.year-display {
  font-size: 6rem;
  font-weight: bold;
  margin: 10px 0;
  text-align: center;
}

/* Navigation arrows */
.navigation-arrow {
  cursor: pointer;
  width: 40px;
  height: auto;
}

/* Left arrow positioning */
.navigation-arrow.left {
  position: absolute;
  left: 20px;
}

/* Right arrow positioning */
.navigation-arrow.right {
  position: absolute;
  right: 20px;
}

/* Timeline container */
.history-timeline-container {
  text-align: center;
  overflow: hidden;
}

/* Midnight description */
.midnight-time {
  font-size: 1.5rem;
  margin-bottom: 50px;
  text-align: center;
}

/* Event description */
.description {
  font-size: 1.1rem;
  text-align: left;
  padding: 0 20px 0 20px;
  margin: 10px 0;
  line-height: 36px;
}

/* Adjustments for smaller phones */
@media (min-height: 600px) and (max-height: 741px) {

  .history-timeline-wrapper {
    padding-top: 20px;
  }

  .year-display {
    font-size: 5rem;
  }

  .logo {
    width: 80px;
    top: 82%;
    left: 50%;
  }

  .midnight-time {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }

  .description {
    font-size: 1rem;
    line-height: 25px;
  }

  .navigation-arrow {
    width: 35px;
  }

  .close-icon {
    width: 40px;
  }

  .page-title {
    font-size: 1.2rem;
    top: -10px;
  }
}

/* Adjustments for iPhone 12 Pro and similar */
@media (min-height: 742px) and (max-height: 844px) {

  .history-timeline-wrapper {
    padding-top: 50px;
  }

  .year-display {
    font-size: 6rem;
  }

  .logo {
    width: 90px;
    top: 80.5%;
    left: 50%;
  }

  .midnight-time {
    font-size: 1.6rem;
    margin-bottom: 50px;
  }

  .description {
    font-size: 1.2rem;
    line-height: 25px;
  }

  .navigation-arrow {
    width: 40px;
  }

  .close-icon {
    width: 45px;
  }

  .page-title {
    font-size: 1.2rem;
    top: -10px;
  }
}

/* Adjustments for tablets */
@media (min-width: 600px) {
  .year-display {
    font-size: 9rem;
  }

  .logo {
    width: 150px;
  }

  .midnight-time {
    font-size: 3rem;
    margin-bottom: 75px;
  }

  .description {
    font-size: 1.8rem;
    line-height: 50px;
  }

  .navigation-arrow {
    width: 50px;
  }

  .close-icon {
    width: 100px;
  }

  .page-title {
    font-size: 2.8rem;
    top: 2px;
  }
}
