/* Root container for the entire screen */
.history-timeline-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: black;
  color: white;
  font-family: 'Bahnschrift', sans-serif;
  position: relative;
  overflow: hidden;
}

/* Container for the dropdown and close button */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 10;
}

/* Styling for the dropdown */
.year-dropdown {
  width: 300px;
  font-size: 20px;
  border: none;
  background-color: black;
  color: white;
  overflow-y: auto;
  margin-top: 20px;
  margin-left: 10px;
}

.year-dropdown option {
  padding: 5px;
  background-color: black;
  color: white;
}

.year-dropdown:focus {
  outline: none;
  border-color: #666;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* Container for year and navigation */
.year-navigation-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  margin-top: 50px; /* Adjusted for dropdown and close button */
}

/* Year display */
.year-display {
  font-size: 6rem;
  font-weight: bold;
  margin: 10px 0;
  text-align: center;
}

/* Navigation arrows */
.navigation-arrow {
  cursor: pointer;
  width: 40px;
  height: auto;
}

/* Left arrow positioning */
.navigation-arrow.left {
  position: absolute;
  left: 20px;
}

/* Right arrow positioning */
.navigation-arrow.right {
  position: absolute;
  right: 20px;
}

/* Timeline container */
.history-timeline-container {
  text-align: center;
  overflow: hidden;
  margin-top: 20px;
}

/* Midnight description */
.midnight-time {
  font-size: 1.5rem;
  margin-bottom: 20px;
  text-align: center;
}

/* Event description */
.description {
  font-size: 1.2rem;
  text-align: center;
  padding: 0 20px;
  max-width: 600px;
  margin: 10px 0;
}

/* Adjustments for tablets */
@media (min-width: 600px) {
  .year-display {
    font-size: 9rem;
  }

  .midnight-time {
    font-size: 3rem;
  }

  .description {
    font-size: 2rem;
  }

  .navigation-arrow {
    width: 50px;
  }

  .close-icon {
    width: 80px;
  }
}
